.aboutme_text {
    color: darkslategray !important;
    font-size: smaller !important;
    line-height: 22px !important;
    white-space: pre-line !important;
}

.resume_timeline .timeline_content .timeline_title {
    font-size: 16px !important;
    font-weight: 500 !important;
}

.resume_timeline .timeline_content .timeline_date {
    color: darkslategray;
}

.resume_timeline .timeline_content .timeline_description {
    color: gray;
    font-size: small;
    margin-top: 6px;
}